# Node.js dependencies
/node_modules

# Environment configuration
/.env

# Log files
/logs
*.log

# Build and dist folders
/dist
/build
/.next
/.nuxt
/.vite

# Editor directories
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db

# Optional: npm package-lock
package-lock.json

# Optional: other files specific to your project
*.swp  # for vim swap files
